.hello {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  gap: 48px;
  padding: 16px;

  @media screen and (min-width: 1200px) {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 48px;
  }
}

.title {
}

.text {
  color: var(--color-white);

  @media screen and (min-width: 1200px) {
    order: -1;
    display: flex;
    justify-content: center;
  }
}
