.paragraph {
  display: grid;
  gap: 12px;
  font-size: 14px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.yellow {
  color: var(--color-yellow);
}
.red {
  color: var(--color-red);
}
.purple {
  color: var(--color-purple);
}
.blue {
  color: var(--color-blue);
}
.green {
  color: var(--color-green);
}
